.app__gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.app__gallery-images {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    position: relative;
}

.app__gallery-images_container {
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.app__gallery-images_container::-webkit-scrollbar {
    display: none;
}

.app__gallery-images_card {
    position: relative;
    min-width: 301px;
    height: 447px;
    margin-right: 2rem;
}

.gallery__image-icon {
    position: absolute;
    color: #fff;
    font-size: 2rem;
    opacity: 0;
    transition: .5s ease;
    cursor: pointer;
}

.app__gallery-images_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
}

.app__gallery-images_card:hover img {
    opacity: .35;
}

.app__gallery-images_card:hover .gallery__image-icon {
    opacity: 1;
}

.app__gallery-images_arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: calc(100% + 10rem); 
    top: 50%;
    transform: translateY(-50%);
    left: -5rem; 
}

.gallery__arrow-icon {
    color: teal;
    font-size: 3rem;
    cursor: pointer;
    background: gainsboro;
    border-radius: 50%;
    padding: 0.5rem;
}

.gallery__arrow-icon:hover {
    color: #333;
    background-color: transparent;
}

@media screen and (min-width: 2000px) {
    .app__gallery-images_card {
        min-width: 400px;
        height: 547px;
    }
}

@media screen and (max-width: 1150px) {
    .app__gallery-images {
        max-width: 100%;
        margin: 5rem 0;
    }
}

@media screen and (max-width: 850px) {
    .app__gallery {
        padding: 4rem 0 4rem 4rem;
    }
}

@media screen and (max-width: 650px) {
    .app__gallery {
        padding: 4rem 0 4rem 2rem;
    }  
    
    .app__gallery-images_card {
        min-width: 240px;
        height: 320px;
    }
}
